<app-exit-button></app-exit-button>
<div *ngIf="(hotel | async | json) === undefined ? noSuchHotel() : false"></div>
<div class="container" *ngIf="hotel | async; let hotel">
  <div class="row mt-5">
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
      <div class="cursor-pointer" (click)="openImageAsModal(content)">
        <img class="hotel-img" src="{{'assets/hotels-img/' + hotel.img}}" alt="{{hotel.name}}"/>
      </div>
      <div class="width-500 d-flex flex-column align-items-center">
        <h2 class="fw-semibold">{{hotel.name}}</h2>
        <p>{{citiesMap.get(hotel.city)! | translate}}</p>
        <p class="mb-0">{{'Guest rating' | translate}}</p>
        <ngb-rating
          class="star gap-1"
          [rate]="+hotel.rating"
          [readonly]="true"
          [max]="10"
        ></ngb-rating>
        <p><b>{{hotel.rating}}</b>/10 {{ratingType.get(hotel.rating)! | translate}}
          ({{hotel.numberOfReviews}} {{'reviews' | translate}})</p>
        <span class="d-flex gap-1 mb-2">
          <p>{{'Property class' | translate}}:</p>
          <p *ngFor="let number of [].constructor(+hotel.propertyClass)" class="star m-0 p-0">&bigstar;</p>
        </span>
        <p>{{'Place' | translate}}: {{(hotel.locationType === '2' ? 'City center' : 'Not city center') | translate}}</p>
        <p>${{hotel.price}}: {{'for 1 night' | translate}}</p>
        <div class="d-flex flex-column gap-2">
          <span class="d-flex gap-3 justify-content-start align-items-center" *ngFor="let amenity of hotel.amenities">
          <img
            title="{{amenitiesInfoMap.get(amenity)!.name | translate}}"
            src="{{'assets/amenities-icons/' + amenitiesInfoMap.get(amenity)?.src}}"
            alt="{{amenitiesInfoMap.get(amenity)?.alt}}"
          />
          <p class="m-0">{{amenitiesInfoMap.get(amenity)!.name | translate}}</p>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <button routerLink="/auth" *ngIf="!authService.isAuthenticated()" mat-raised-button
            color="primary">{{'Login to Book' | translate}}</button>
    <mat-accordion *ngIf="authService.isAuthenticated()">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Book Now' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="formSubmitted">
          <p class="font-weight-500 text-success text-center font-18px">{{'Successfully booked the room' | translate}}</p>
          <div class="d-flex justify-content-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="changeFormSubmittedState()"
            >
              {{'Book Now' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="!formSubmitted">
          <form [formGroup]="bookingForm" (ngSubmit)="book()" class="d-flex justify-content-center">
            <div class="d-flex flex-column width-resizer gap-2">
              <mat-form-field>
                <mat-label>{{'Hotel Name' | translate}}</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="hotelName"
                />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{'Email' | translate}}</mat-label>
                <input
                  name="email"
                  matInput
                  placeholder="example@exp.com"
                  formControlName="email"
                  required
                >
                <mat-error *ngIf="bookingForm.get('email')?.errors">
                  {{bookingForm.get('email')?.errors!['msg'] | translate}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{'Phone' | translate}}</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="+77051956916"
                  formControlName="phone"
                  required
                >
                <mat-error *ngIf="bookingForm.get('phone')?.errors">
                  {{bookingForm.get('phone')?.errors!['msg'] | translate}}
                </mat-error>
              </mat-form-field>
              <mat-form-field formGroupName="bookingDate" appearance="fill">
                <mat-label>{{'Enter a date range' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="todayDate">
                  <input formControlName="checkinDate" matStartDate placeholder="{{'Check-in' | translate}}">
                  <input formControlName="checkoutDate" matEndDate placeholder="{{'Check-out' | translate}}">
                </mat-date-range-input>
                <mat-hint>{{'Day / Month / Year' | translate}}</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="bookingForm.get('bookingDate.checkinDate')?.hasError('required')">
                  {{'Check-in date is required' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="!bookingForm.get('bookingDate.checkinDate')?.hasError('required') && bookingForm.get('bookingDate.checkoutDate')?.hasError('required')">
                  {{'Check-out date is required' | translate}}
                </mat-error>
                <!--                <mat-error-->
                <!--                  *ngIf="bookingForm.get('bookingDate.checkinDate')?.hasError('required') && !bookingForm.get('bookingDate.checkinDate')?.hasError('required') && bookingForm.get('bookingDate')?.errors">-->
                <!--                  {{bookingForm.get('bookingDate')?.errors!['msg'] | translate}}-->
                <!--                </mat-error>-->
                <mat-error
                  *ngIf="bookingForm.get('bookingDate')?.errors">
                  {{bookingForm.get('bookingDate')?.errors!['msg'] | translate}}
                </mat-error>
                {{bookingForm.get('bookingDate')?.errors | json}}
              </mat-form-field>
              <mat-accordion class="mt-3" formGroupName="address">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{'Address' | translate}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="d-flex flex-column">
                    <mat-form-field>
                      <mat-label>{{'City' | translate}}</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="city"
                      />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>{{'Street' | translate}}</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="street"
                      />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>{{'Street Number' | translate}}</mat-label>
                      <input
                        type="number"
                        matInput
                        formControlName="streetNumber"
                      />
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="mt-3" formArrayName="guests">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{'Guests' | translate}}*
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="d-flex flex-column gap-2">
                    <div *ngFor="let guest of guests.controls; let i = index">
                      <div [formGroupName]="i" class="d-flex flex-column gap-2">
                        <p class="font-weight-500">{{i + 1}}) {{'Guest' | translate}}</p>
                        <mat-form-field>
                          <input
                            type="text"
                            matInput
                            formControlName="guestName"
                            placeholder="{{'Guest Name' | translate}}*"
                          />
                          <mat-error
                            *ngIf="bookingForm.get(['guests', i, 'guestName'])?.hasError('required')"
                          >
                            {{'Guest name is required' | translate}}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <input
                            type="number"
                            matInput
                            formControlName="age"
                            placeholder="{{'Age' | translate}}"
                          />
                        </mat-form-field>
                        <button
                          mat-raised-button
                          color="warn"
                          type="button"
                          (click)="removeGuest(i)"
                          class="mb-3"
                        >
                          {{'Remove Guest' | translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    (click)="addGuest()"
                    class="mt-3"
                  >
                    {{'Add Guest' | translate}}
                  </button>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="d-flex justify-content-between flex-wrap">
                <button
                  [disabled]="bookingForm.invalid"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="book()"
                  class="mt-3"
                >
                  {{'Book' | translate}}
                </button>
                <button
                  mat-raised-button
                  color="basic"
                  type="button"
                  (click)="clear()"
                  class="mt-3"
                >
                  {{'Clear' | translate}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <h2 class="font-weight-500 text-center">{{'Related Hotels' | translate}}</h2>
  <div class="d-flex justify-content-center"
       *ngIf="hotelService.getRelatedHotels(hotel.city, hotel.id) | async; let relatedHotels">
    <div class="d-flex flex-column">
      <app-card
        *ngFor="let relatedHotel of relatedHotels"
        [hotel]="relatedHotel"
      ></app-card>
      <h3 *ngIf="relatedHotels.length === 0" class="text-secondary">{{'No similar hotel' | translate}}</h3>
    </div>
  </div>
  <hr/>
  <div class="row mt-5 mb-5">
    <button routerLink="/auth" *ngIf="!authService.isAuthenticated()" mat-raised-button
            color="primary">{{'Login to Leave Review' | translate}}</button>
    <mat-accordion class="mt-3" *ngIf="authService.isAuthenticated()">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Leave Review' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="reviewSubmitted">
          <p class="font-weight-500 text-success text-center font-18px">{{'Successfully submitted the review' | translate}}</p>
          <div class="d-flex justify-content-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="changeReviewSubmittedState()"
            >
              {{'Leave Review' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="!reviewSubmitted">
          <form [formGroup]="reviewForm" (ngSubmit)="leaveReview()" class="d-flex justify-content-center">
            <div class="d-flex flex-column width-resizer gap-2">
              <div class="d-flex justify-content-between flex-wrap">
                <ngb-rating
                  class="gap-1 review-star"
                  formControlName="rating"
                ></ngb-rating>
                <p class="font-weight-500 font-18px">{{this.reviewForm.controls['rating'].value}}/10</p>
              </div>
              <mat-form-field>
                <mat-label>{{'Leave a comment' | translate}}</mat-label>
                <textarea formControlName="comment" matInput
                          placeholder="{{'Ex. This is the perfect hotel...' | translate}}"></textarea>
              </mat-form-field>
              <div class="d-flex justify-content-between flex-wrap">
                <button
                  [disabled]="reviewForm.invalid"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="leaveReview()"
                  class="mt-3"
                >
                  {{'Leave Review' | translate}}
                </button>
                <button
                  mat-raised-button
                  color="basic"
                  type="button"
                  (click)="clearReviewForm()"
                  class="mt-3"
                >
                  {{'Clear' | translate}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <h2 class="font-weight-500 text-center mt-5">{{'Reviews' | translate}}</h2>
  <div class="d-flex justify-content-center mb-5" *ngIf="comments | async; let comments">
    <div>
      <div class="d-flex flex-column">
        <app-review-card
          *ngFor="let comment of comments | slice: 0 : page * pageSize"
          [comment]="comment"
        ></app-review-card>
      </div>
      <p *ngIf="comments.length === 0" class="text-secondary font-18px">{{'No comments' | translate}}</p>
      <div class="d-flex justify-content-center mt-2" *ngIf="comments.length > page * pageSize">
        <button
          mat-raised-button
          color="active"
          type="button"
          (click)="loadMoreReviews()"
        >
          {{'Load More' | translate}}
        </button>
      </div>
    </div>
  </div>
  <ng-template #content>
    <img src="{{'assets/hotels-img/' + hotel.img}}" alt="{{hotel.name}}"/>
  </ng-template>
</div>
