<footer>
  <div class="container">
    <div class="footer-content-responsive">
      <div class="my-auto">
        <a routerLink="/"><img class="logo" src="assets/logo.gif" alt="logo"></a>
      </div>
      <div class="my-auto">
        <p class="m-2">{{'Perth' | translate}}, {{'Australia' | translate}}</p>
        <p class="m-2">{{'Tel' | translate}}: +7 705 195 69 16</p>
        <p class="m-2">help@australia.booking.com</p>
      </div>
      <div class="my-auto d-flex gap-3">
        <a href="https://telegram.org/" target=”_blank”><img class="bigger-on-hover" src="assets/social-media/telegram.png" alt="telegram"/></a>
        <a href="https://www.tiktok.com/" target=”_blank”><img class="bigger-on-hover" src="assets/social-media/tiktok.png" alt="tiktok"/></a>
        <a href="https://www.instagram.com/" target=”_blank”><img class="bigger-on-hover" src="assets/social-media/instagram.png" alt="instagram"/></a>
        <a href="https://www.whatsapp.com/" target=”_blank”><img class="bigger-on-hover" src="assets/social-media/whatsapp.png" alt="whatsapp"/></a>
      </div>
    </div>
  </div>
</footer>
