<footer>
  <div class="container">
    <div class="row">
      <div class="col-3 my-auto">
        <img routerLink="/" class="logo" src="assets/logo.gif" alt="logo">
      </div>
      <div class="col-3 text-end my-auto">
        <p>Astana, Kazakhstan</p>
        <p>Phone: +7 705 100 10 10</p>
        <p>help@naturalgoods.com</p>
      </div>
      <div class="col-3 text-end my-auto">
        <a><img src="assets/social-media/telegram.svg" alt="telegram"/></a>
        <a><img src="assets/social-media/whatsapp.svg" alt="whatsapp"/></a>
        <a><img src="assets/social-media/instagram.svg" alt="instagram"/></a>
        <a><img src="assets/social-media/youtube.svg" alt="youtube"/></a>
      </div>
    </div>
  </div>
</footer>
