<footer>
  <div class="container">
    <div class="footer-content-responsive">
      <div class="my-auto">
        <a routerLink="/"><img class="logo" src="assets/logo.gif" alt="logo"></a>
      </div>
      <div class="my-auto">
        <address class="d-flex flex-column justify-content-center m-0">
          <a href="https://goo.gl/maps/ptgxEouWS9Cx5DdX6" target="_blank"
             class="m-1 text-decoration-none text-white link-warning fw-bold">{{'Perth' | translate}}
            , {{'Australia' | translate}}</a>
          <a href="tel:+77051956916" class="m-1 text-decoration-none text-white link-warning fw-bold">{{'Tel' | translate}}: +7
            705 195 69 16</a>
          <a href="mailto:help@australia.booking.com" class="m-1 text-decoration-none text-white link-warning fw-bold">info@australia.booking.com</a>
        </address>
      </div>
      <div class="my-auto d-flex gap-3">
        <a
          *ngFor="let link of links"
          href="{{link[0]}}"
          target="_blank">
          <img
            class="bigger-on-hover"
            src="{{link[1]}}"
            alt="{{link[2]}}"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
