<header>
  <div class="container">
    <div class="row">
      <div class="col-3 my-auto">
        <a routerLink="/"><img class="logo" src="assets/logo.gif" alt="logo"></a>
      </div>
      <div class="col-9 text-end my-auto" appClickOutside (clickOutside)="clickedOutside()">
        <div class="d-flex align-items-center justify-content-end">
          <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li>
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button
                  type="button"
                  class="btn btn-secondary me-2"
                  id="dropdownManual"
                  ngbDropdownAnchor
                  (focus)="myDrop.open()"
                >
                  <img src="assets/language/languages.png" alt="languages">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button (click)="switchLang('kk')" ngbDropdownItem>Қазақша <img src="assets/language/kazakhstan.png"
                                                                                  alt="kz"></button>
                  <button (click)="switchLang('ru')" ngbDropdownItem>Русский <img src="assets/language/russia.png"
                                                                                  alt="ru"></button>
                  <button (click)="switchLang('en')" ngbDropdownItem>English <img
                    src="assets/language/united-states.png" alt="en"></button>
                </div>
              </div>
            </li>
            <a routerLink="/hotels"><li>{{'Hotels' | translate}}</li></a>
            <a routerLink="/about"><li>{{'About' | translate}}</li></a>
            <a routerLink="/"><li>{{'Contacts' | translate}}</li></a>
            <a routerLink="/"><li>{{'Profile' | translate}}</li></a>
            <a routerLink="/login"><li>{{'Login' | translate}}</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
