header {
  padding: 12px 0;
  background-color: #222;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul a li, .menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 24px;
}

.menu ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.menu ul a li:hover {
  color: yellow;
  transition: all 0.4s ease-in-out;
}

@media(max-width: 800px) {
  .menu {
    position: absolute;
    padding-bottom: 10px;
    top: 81px;
    right: -280px;
    width: 280px;
    height: auto;
    background: #222;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .menu ul a li, .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #312f2f;
  }

  .menu ul a :hover {
    background-color: #3f576d;
  }

  .menu_icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #FFFFFF;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }

  .menu_icon span:nth-child(4) {
    margin: 4px 0;
  }

  .menu_iconClass span:nth-child(4) {
    display: none;
  }

  .menu_iconClass span:nth-child(2) {
    display: none;
  }

  .menu_iconClass span:nth-child(1) {
    transform: rotate(40deg);
  }

  .menu_iconClass span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClass {
    right: 0;
    transition: all 0.4s ease-in-out;
  }
}
