<div class="d-flex justify-content-center wrapper">
  <div>
    <div class="d-flex justify-content-center">
      <h1>{{'Reset password' | translate}}</h1>
    </div>
    <div class="d-flex justify-content-center m-3 fw-semibold">
      <p class="red">(!) {{'Failed to send email address' | translate}}</p>
      <p class="text-primary">{{'Loading' | translate}}...</p>
      <p class="text-success">{{'Check your inbox for further instructions' | translate}}</p>
    </div>
    <div class="d-flex justify-content-center">
      <form (keydown.enter)="$event.preventDefault()" #ngForm="ngForm" (ngSubmit)="resetPassword(ngForm)">
        <div class="row input-sizer">
          <mat-form-field appearance="fill">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input
              #emailControl="ngModel"
              appEmailValidator
              appForgotPasswordValidator
              name="email"
              matInput placeholder="example@exp.com"
              [(ngModel)]="email"
              required
            >
            <mat-error *ngIf="emailControl.errors">{{emailControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button [disabled]="ngForm.invalid" type="submit" mat-raised-button
                  color="primary">{{'send' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/auth/login">{{'Login' | translate}}</a>
    </div>
    <div class="d-flex justify-content-center mt-3 gap-1">
      <p>{{'Need an account?' | translate}}</p>
      <a routerLink="/auth/sign-up">{{'Sign Up' | translate}}</a>
    </div>
  </div>
</div>
