<div class="d-flex justify-content-center wrapper">
  <div>
    <div class="d-flex justify-content-center">
      <h1>{{'Sign Up' | translate}}</h1>
    </div>
    <div class="d-flex justify-content-center">
      <form (keydown.enter)="$event.preventDefault()" #ngForm="ngForm" (ngSubmit)="signUp(ngForm)">
        <div class="row input-sizer">
          <mat-form-field hintLabel="{{'Max 12 characters' | translate}}" appearance="fill">
            <mat-label>{{'Firstname' | translate}}</mat-label>
            <input
              name="firstname"
              matInput
              #firstname
              maxlength="12"
              placeholder="{{'Ex. Maksat' | translate}}}"
              [(ngModel)]="signUpInfo.firstname"
              #firstnameControl="ngModel"
              required
            >
            <mat-hint align="end">{{firstname.value.length}}/12</mat-hint>
            <mat-error *ngIf="firstnameControl.errors">{{'Firstname is required' | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field hintLabel="{{'Max 12 characters' | translate}}" appearance="fill">
            <mat-label>{{'Lastname' | translate}}</mat-label>
            <input
              name="lastname"
              matInput
              #lastname
              maxlength="12"
              placeholder="{{'Ex. Madeniyetov' | translate}}"
              [(ngModel)]="signUpInfo.lastname"
            >
            <mat-hint align="end">{{lastname.value.length}}/12</mat-hint>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <label>{{'Gender' | translate}}</label>
          <mat-radio-group
            name="gender"
            [(ngModel)]="signUpInfo.gender"
          >
            <mat-radio-button value="male">{{'Male' | translate}}</mat-radio-button>
            <mat-radio-button value="female">{{'Female' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field appearance="fill">
            <mat-label>{{'Phone' | translate}}</mat-label>
            <input
              appPhoneValidator
              type="tel"
              name="phone"
              matInput
              placeholder="+77051956916"
              [(ngModel)]="signUpInfo.phone"
              #phoneControl="ngModel"
              required
            >
            <mat-error *ngIf="phoneControl.errors">{{phoneControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field appearance="fill">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input
              #emailControl="ngModel"
              appEmailValidator
              appSignupEmailValidator
              name="email"
              matInput
              placeholder="example@exp.com"
              [(ngModel)]="signUpInfo.email"
              required
            >
            <mat-error *ngIf="emailControl.errors">{{emailControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field appearance="fill">
            <mat-label>{{'Password' | translate}}</mat-label>
            <input
              #passwordControl="ngModel"
              appPasswordValidator
              name="password"
              matInput [type]="hide ? 'password' : 'text'"
              [ngModel]="signUpInfo.password"
              (ngModelChange)="passwordChange($event)"
              required
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordControl.errors">{{passwordControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field appearance="fill">
            <mat-label>{{'Confirm Password' | translate}}</mat-label>
            <input
              appConfirmPasswordValidator="{{signUpInfo.password}}"
              #confirmPasswordControl="ngModel"
              name="confirmPassword"
              matInput [type]="hideConfirm ? 'password' : 'text'"
              [(ngModel)]="confirmPassword"
              required
            >
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideConfirm">
              <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
              *ngIf="confirmPasswordControl.errors">{{confirmPasswordControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button [disabled]="ngForm.invalid" type="submit" mat-raised-button color="primary">{{'Sign Up' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center mt-4 fw-semibold">
      <p class="red">(!) {{'Failed to register in the system' | translate}}</p>
      <p class="text-primary">{{'Loading' | translate}}...</p>
    </div>
    <div class="d-flex justify-content-center mt-4 gap-1">
      <p>{{'Already have an account?' | translate}}</p>
      <a routerLink="/auth/login">{{'Login' | translate}}</a>
    </div>
  </div>
</div>
