.chip {
  padding: 5px 10px;
  color: #212529;
  font-size: 13px;
  border-radius: 25px;
  background-color: #ced4da;
}

.close-btn {
  padding-left: 10px;
  color: black;
  font-weight: bolder;
  float: right;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.close-btn:hover {
  color: #f44336;
}
