<div class="d-flex justify-content-center wrapper">
  <div>
    <div class="d-flex justify-content-center">
      <h1>{{'Login' | translate}}</h1>
    </div>
    <div class="d-flex justify-content-center m-3 fw-semibold">
      <p class="red">(!) {{'Failed to login, wrong email or password' | translate}}</p>
      <p class="text-primary">{{'Loading' | translate}}...</p>
    </div>
    <div class="d-flex justify-content-center">
      <form (keydown.enter)="$event.preventDefault()" #ngForm="ngForm" (ngSubmit)="login(ngForm)">
        <div class="row input-sizer">
          <mat-form-field appearance="fill">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input
              #emailControl="ngModel"
              appEmailValidator
              name="email"
              matInput placeholder="example@exp.com"
              [(ngModel)]="loginInfo.email"
              required
            >
            <mat-error *ngIf="emailControl.errors">{{emailControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row input-sizer mt-3">
          <mat-form-field appearance="fill">
            <mat-label>{{'Password' | translate}}</mat-label>
            <input
              #passwordControl="ngModel"
              appPasswordValidator
              name="password"
              matInput [type]="hide ? 'password' : 'text'"
              [(ngModel)]="loginInfo.password"
              required
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordControl.errors">{{passwordControl.errors['msg'] | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button [disabled]="ngForm.invalid" type="submit" mat-raised-button
                  color="primary">{{'Login' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/auth/forgot-password">{{'Forgot password?' | translate}}</a>
    </div>
    <div class="d-flex justify-content-center mt-3 gap-1">
      <p>{{'Need an account?' | translate}}</p>
      <a routerLink="/auth/sign-up">{{'Sign Up' | translate}}</a>
    </div>
  </div>
</div>
