<div class="d-flex justify-content-center wrapper">
  <div>
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-5 p-3">
      <mat-form-field appearance="fill">
        <mat-label>{{'Going to' | translate}}</mat-label>
        <mat-select>
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{city.viewValue | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'Enter a date range' | translate}}</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="todayDate">
          <input matStartDate placeholder="{{'Check-in' | translate}}">
          <input matEndDate placeholder="{{'Check-out' | translate}}">
        </mat-date-range-input>
        <mat-hint>{{'Day / Month / Year' | translate}}</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button [routerLink]="['/hotels/', {outlets: { modal: 'form' }}]" mat-raised-button
              color="primary">{{'Filter' | translate}}</button>
    </div>
    <div *ngIf="amenities.length > 0" class="d-flex justify-content-center align-items-center flex-wrap gap-2 p-3">
      <app-chip
        *ngFor="let amenity of amenities"
        [amenity]="amenity"
        [filter]="filter"
      ></app-chip>
      <button mat-button color="primary" (click)="removeAllFilters()">{{'Remove all' | translate}}</button>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
  </div>
</div>
<router-outlet name="modal"></router-outlet>
