.card {
  background-color: white;
  margin: 10px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  transition:  box-shadow .6s ease-in-out;
  cursor: pointer;
}

.card:hover{
  box-shadow: 1px 8px 20px grey;
  transition:  box-shadow 0.6s ease-in-out;

  a > div > img {
    filter: brightness(108%);
  }
}

.card-img {
  width: 200px;
  height: 200px;
}

.price {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.animate-img-hover > a > div > img {
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.animate-img-hover:hover > a > div > img {
  transition: all 0.4s ease-in-out;
  transform: scale(1.03);
}

.truncate-long-texts {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width: 600px) {
  .card-img {
    width: 125px;
    height: 250px;
    object-fit: cover;
  }
}

@media(max-width: 400px) {
  .card-img {
    width: 75px;
  }
}

@media(min-width: 850px) {
  .card {
    width: 700px;
  }
}
