<div class="card">
  <div class="d-flex">
    <img class="card-img" src="assets/hotel-picture.jpg" alt="hotel-picture"/>
    <div class="d-flex flex-column p-3 w-100">
      <h4 class="fw-bolder p-0 m-0">Sky Hotel Perth</h4>
      <span class="mb-1 d-flex gap-1"><p *ngFor="let number of [].constructor(5)" class="star m-0 p-0">&bigstar;</p></span>
      <p class="pt-0">Perth Old Town</p>
      <span class="mb-1 d-flex gap-1">
        <img src="assets/amenities-icons/parked-car.png" alt="parking"/>
        <img src="assets/amenities-icons/swimming.png" alt="swimming"/>
        <img src="assets/amenities-icons/plant.png" alt="spa"/>
        <img src="assets/amenities-icons/pet-friendly.png" alt="pet-fri"/>
        <img src="assets/amenities-icons/wi-fi.png" alt="wifi"/>
        <img src="assets/amenities-icons/air-conditioner.png" alt="air-con"/>
        <img src="assets/amenities-icons/meal.png" alt="meal"/>
        <img src="assets/amenities-icons/beach.png" alt="sea-view"/>
        <img src="assets/amenities-icons/dumbbell.png" alt="gym"/>
      </span>
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-0 pb-0 mt-3 gap-4">
        <p class="p-0 m-0"><b>9.4</b>/10 Exceptional (714 reviews)</p>
        <div>
          <p class="p-0 m-0 price">$120</p>
          <p class="p-0 m-0">for 1 night</p>
        </div>
      </div>
    </div>
  </div>
</div>
